<div class="panel panel-success">
<div class="panel-heading">
    <h1 class="panel-title page_title">WELCOME TO OUR 20<sup>TH</sup> ANNUAL CONFERENCE | WCA FIRST</h1>
</div>
<div class="panel-body">
    <p>
        WCA First network will celebrate its 20th anniversary in Singapore!</p>
    <p>
        Now in its 20th year, the WCA First Conference is acknowledged globally
        as the most important conference of its kind. It is the only global forum
        that provides the world's most powerful, experienced freight forwarding
        professionals with a week of face-to-face peer meetings.
        Help us celebrate 20 years of unprecedented industry growth and member success
        by attending the 20th annual conference in Singapore!</p>
    <p>
        Singapore, one of the world's most important freight hubs, is regarded as Asia's
        most modern and exciting city. With its vibrant history, cultural diversity,
        and tropical climate, Singapore serves as a secure and enjoyable location
        for both business and tourism.</p>
    <p>Thanks to the overwhelming growth potential members create by forming new industry connections, this conference is one of the most productive business-generating platforms in existence. The 2018 conference will offer even greater avenues for business development.
    <br />
    <p>To celebrate twenty years, WCA First will be adding new networking opportunities to its agenda. All WCA First members are encouraged to attend as this year's conference will be like unlike anything you've experienced.
    <br />
    <p>
    <b>When:</b> 2-5 March, 2018
    <br />
    <b>Where:</b> Pan Pacific Singapore Hotel and Singapore Convention and Exhibition Centre (Suntec)
    <br />
    We are expecting over 500 forwarding professionals to be in attendance. Register today to be one of them!
</div>
</div><!-- ./panel-success -->