/* Style the tab */
.panel.panel-success .panel-body #London .std_table.agenda_table {
	font-size: 8px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #FFFFFF;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 7px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
   /* background-color: #ff9933;*/
	color : #000000;
	border: none;
    cursor: pointer;
	
	border-bottom: 3px #78d093 solid;

}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 4px 4px;
    border: 1px solid #FFFFFF;
    border-top: none;
}